__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.venv/
.python-version

.uv/

.pytest_cache/
.coverage
htmlcov/
.mypy_cache/
.ruff_cache/

build/
dist/
*.egg

infra/cdk.out/
infra/node_modules/

data/raw/
data/normalized/
data/build/
data/dist/

.DS_Store
Thumbs.db

.vscode/
.idea/
*.swp
